<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Список замовлень</title>
</head>

<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">

        <div class="row ml-auto mr-auto">
            <div class="col-md-12">


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width:50px;" scope="col">#</th>
                            <th style="width:100px;" scope="col">Номер</th>
                            <th style="width:230px;" scope="col">Дата</th>
                            <th scope="col">Контрагент</th>
                            <th scope="col">Торгова точка</th>
                            <th scope="col">Адреса</th>
                            <th scope="col">Агент</th>
                            <th scope="col">Сума</th>
                            <th scope="col">Коментар</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="order, iStat: ${ordersList}">
                            <tr>
                                <th scope="row" th:text="${iStat.index} + 1"></th>
                                <td><a th:href="@{/orders/edit(id=${order.docGuid})}"><div  th:text="${order.docNumber}"></div></a></td>
                                <td th:text="${order.docDate}"></td>
                                <td th:text="${order.docClient}"></td>
                                <td th:text="${order.docPointName}"></td>
                                <td th:text="${order.docPointAddress}"></td>
                                <td th:text="${order.docAgent}"></td>
                                <td th:text="${order.docTotalSum}"></td>
                                <td th:text="${order.docComment}"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>

</body>
</html>
